<h3>What's your name?</h3>

<form action="/new_player" method="post">
  <input type="text" name="player_name" autocomplete="off" />
  <br />
  <input type="submit" class="btn btn-info" value="Play!" />
</form>